/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.game-area {
    margin-top: 25px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}
.margen {
    padding-left: 40%;
    margin-right: 30%;
}
.e {
    margin: 10px;
}
.tick-tack-grid {
	
	div mat-grid-tile {
        cursor: pointer;
        
		&:nth-child(2), &:nth-child(5), &:nth-child(8) {
			border-left: 1px solid #ccc;
			border-right: 1px solid #ccc;
		}

		&:nth-child(4), &:nth-child(5), &:nth-child(6) {
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
		}
        
        i.material-icons.tick {
            color: green;
        }
        
        i.material-icons.cross {
            color: red;
        }
		
	}}