/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.game-area {
    margin-top: 25px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.margen {
    margin:10px 30px 10px 30px;
}
.e {
    margin: 10px;
}
.tick-tack-grid {
	
	div mat-grid-tile {
        cursor: pointer;
        
		&:nth-child(2), &:nth-child(5), &:nth-child(8) {
			border-left: 1px solid #ccc;
			border-right: 1px solid #ccc;
		}

		&:nth-child(4), &:nth-child(5), &:nth-child(6) {
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
		}
        
        i.material-icons.tick {
            color: green;
        }
        
        i.material-icons.cross {
            color: red;
        }
		
    }}
    
    @media (min-width: 576px) { 
        .game-area {
            margin-top: 25px;
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
        }

     }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { 
        .game-area {
            margin-top: 25px;
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
        }
     }
    
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        .game-area {
            margin-top: 25px;
            width: 50%;
            margin-left: 25%;
            margin-right: 25%;
        }
        .margen {
            margin:30px 0px 30px 0px;
        }
     }
    
    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        .game-area {
            margin-top: 25px;
            width: 50%;
            margin-left: 25%;
            margin-right: 25%;
        }
      }